*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif; 
}
#form{
    background-image: url("feature-background.jpg");
    background-blend-mode: darken;
    background-color: rgb(12, 12, 12,0.9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#data{
    padding: 8% 10%;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
#content input{
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 50px;
    width: 80%;
    border-left-color: aqua;
}
#content label{
    color: #fff;
    font-size: 20px;
}
 .btn{
    margin-top: 15px;
    text-align: start;
    padding: 15px 30px 15px 30px;
    background: none;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
}
#body{
    width: 200%;
}
